<div class="container">

  <div class="bs-glyphicons">
    <ul class="bs-glyphicons-list">
      <li>
        <span class="glyphicon glyphicon-asterisk" aria-hidden="true">glyphicon glyphicon-asterisk</span>
      </li>
    </ul>
  </div>

  <div class="bs-glyphicons">
    <div class="well well-transparent">
      <div style="font-size: 24px; line-height: 1.5em;">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <span class="sr-only">Example of pencil</span>
        fa-pencil
      </div>

    </div>
  </div>

  <div class="bs-glyphicons">
    <div class="well well-transparent">
      <div style="font-size: 24px; line-height: 1.5em;">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <span class="sr-only">Example of pencil</span>
        fa-bars
      </div>
    </div>
  </div>

</div>
